
h1 {
	color: white;
	text-align:center;
}

 .wrapper {
  position: relative;
  width: 200;
  height: 200;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.separatorDiv {
  height: 100;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:200;
  height:200;
  background-color: white;
}

.center {
  text-align: center;
}
